$primary-color: #d862bc;
$primary-dark-color: #ba4eab;
$primary-light-color: #e780cf;
$secondary-color: #9045a3;
$secondary-dark-color: #713680;
$secondary-light-color: #9e4bb3;
$background-color: #f5f5f5;
$background-dark-color: #222831;

$header-height: 4.5rem;
$square-height: 2.5rem;

$sm-screen: 480px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$_2xl-screen: 1440px;
$_3xl-screen: 1980px;
